USE [master]
GO
/****** Object:  Database [CashMachine]    Script Date: 29.06.2022 13:14:05 ******/
CREATE DATABASE [CashMachine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CashMachine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CashMachine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CashMachine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CashMachine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CashMachine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CashMachine]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 29.06.2022 13:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[value] [int] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([bill_id], [value], [count]) VALUES (1, 337, 20)
INSERT [dbo].[Bill] ([bill_id], [value], [count]) VALUES (2, 52, 9)
INSERT [dbo].[Bill] ([bill_id], [value], [count]) VALUES (3, 72, 10)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
/****** Object:  Index [UQ__Bill__40BBEA3AA1512CB2]    Script Date: 29.06.2022 13:14:05 ******/
ALTER TABLE [dbo].[Bill] ADD UNIQUE NONCLUSTERED 
(
	[value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
